{
    "linux64_geckodriver_0.35_for_None": {
        "timestamp": "08/11/2024",
        "binary_path": "/storage/emulated/0/NH_autoclaim-main/driver/.wdm/drivers/geckodriver/linux64/0.35/geckodriver"
    }
}
